<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clue Master</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form>
        <input type='text' placeholder='Please enter your name'>
        <button type='submit'>Play</button>
        <button type='create'>Create Private Room</button>
    </form>
  </body>
  <script type='text/javascript' src={% static 'game/index.js'%}></script>
</html>