{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clue Master</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

  <input type="text" id="chatInput" placeholder="Type your message">
  <button onclick="sendWebSocketMessage('chat_message', document.getElementById('chatInput').value)">Send Chat</button>
  <button onclick="sendWebSocketMessage('guess', 'The player's guess text')">Submit Guess</button>
  </body>
  <script type='text/javascript' src={% static 'game/index.js'%}></script>
</html>